# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.pkl

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/
